<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Myroslav</title>
</head>
<body>
    <div class="container">
        <div class="main-display">
            <form action="" method="post">
                <textarea name="text" id="text" placeholder="Enter your text"></textarea>
                <input type="submit">
            </form>
            <div class="link">
                <a href="/download">download</a>
            </div>
        </div>    
    </div>
</body>
</html>
